#sopa {
  margin: auto;
}

#contenedor {
  margin: auto;
  width: 620px;
  height: 620px; /*Wid y hei para el ancho y alto de la sopa de letras */
  padding: 0.01px;
  border-radius: 10px;
  overflow: hidden; /* regular la visibilidad de los contenidos que sobresalen de una caja html */
}

.caja {
  margin: 3px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  float: left;
}

.caja:hover {
  color: blue;
}

.block {
  text-align: center;
  background-color: rgb(236, 144, 190);
  border-radius: 20px;
}

.global {
  columns: 2;
}

.lista {
  text-align: left;
  display: inline-block;
}

.letra {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

.titulo {
  font-family: "Akaya Telivigala", cursive;
  font-size: 20px;
  text-align: center;
}

.titulo1 {
  font-family: "Akaya Telivigala", cursive;
  font-size: 15px;
  text-align: center;
}

.texto1 {
  background-color: rgb(236, 144, 190);
  border-radius: 10px;
  padding: 1px;
}

.texto2 {
  background-color: rgb(236, 144, 190);
  border-radius: 10px;
  padding: 1px;
  margin-top: 20px;
}

.texto3 {
  background-color: rgb(236, 144, 190);
  border-radius: 10px;
  padding: 1px;
  margin-top: 20px;
}

.texto4 {
  background-color: rgb(236, 144, 190);
  border-radius: 10px;
  padding: 1px;
  margin-top: 20px;
}

.texto5 {
  background-color: rgb(236, 144, 190);
  border-radius: 10px;
  padding: 1px;
  margin-top: 20px;
}

.texto6 {
  background-color: rgb(236, 144, 190);
  border-radius: 10px;
  padding: 1px;
  margin-top: 20px;
}

.texto7 {
  background-color: rgb(236, 144, 190);
  border-radius: 10px;
  padding: 1px;
  margin-top: 20px;
}

.texto8 {
  background-color: rgb(236, 144, 190);
  border-radius: 10px;
  padding: 1px;
  margin-top: 20px;
}

.texto9 {
  background-color: rgb(236, 144, 190);
  border-radius: 10px;
  padding: 1px;
  margin-top: 20px;
}

.texto10 {
  background-color: rgb(236, 144, 190);
  border-radius: 10px;
  padding: 1px;
  margin-top: 20px;
}

.texto11 {
  background-color: rgb(236, 144, 190);
  border-radius: 10px;
  padding: 1px;
  margin-top: 20px;
}

.texto12 {
  background-color: rgb(236, 144, 190);
  border-radius: 10px;
  padding: 1px;
  margin-top: 20px;
}

.texto13 {
  background-color: rgb(236, 144, 190);
  border-radius: 10px;
  padding: 1px;
  margin-top: 20px;
}

.texto14 {
  background-color: rgb(236, 144, 190);
  border-radius: 10px;
  padding: 1px;
  margin-top: 20px;
}

.texto15 {
  background-color: rgb(236, 144, 190);
  border-radius: 10px;
  padding: 1px;
  margin-top: 20px;
}

.texto16 {
  background-color: rgb(236, 144, 190);
  border-radius: 10px;
  padding: 1px;
  margin-top: 20px;
}

.texto17 {
  background-color: rgb(236, 144, 190);
  border-radius: 10px;
  padding: 1px;
  margin-top: 20px;
}

.texto18 {
  background-color: rgb(236, 144, 190);
  border-radius: 10px;
  padding: 1px;
  margin-top: 20px;
}

.texto19 {
  background-color: rgb(236, 144, 190);
  border-radius: 10px;
  padding: 1px;
  margin-top: 20px;
}

.texto20 {
  background-color: rgb(236, 144, 190);
  border-radius: 10px;
  padding: 1px;
  margin-top: 20px;
}


.Css {
  background-color: #d85158;
}

.codigo {
  background-color: #aaabbc;
}

.class {
  background-color: #aaabbc;
}

.color {
  background-color: #d85158;
}

.float {
  background-color: #e2d4ba;
}

.width {
  background-color: #af7a6d;
}

.div {
  background-color: #d664be;
}

.padding {
  background-color: #5b8c5a;
}

.etiquetas {
  background-color: #cfd186;
}

.footer {
  background-color: #d85158;
}

.paginaweb {
  background-color: #d664be;
}

.margin {
  background-color: #df99f0;
}

.micrositios {
  background-color: #99e1d9;
}

.background {
  background-color: #777da7;
}

.html {
  background-color: #c6ecae;
}

.fontfamily {
  background-color: #78fecf;
}

.borderradius {
  background-color: #bf4e30;
}

.css {
  background-color: #c6ccb2;
}

.ul {
  background-color: #c89b7b;
}

.height {
  background-color: #f0f757;
}
